body {
    background-image: url(assets/blurry-gradient-haikei\(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
}

.row{
    justify-content: center;
}

.form-control {
    width: 119px;
}

@media only screen and (max-width: 600px) {
    .form-control {
        width: 100px;
}
}

